layout {
    gaps 0
    struts {
        top 4
    }
    center-focused-column "never"

    default-column-width {
        proportion 0.5
    }

    focus-ring {
        width 2
        active-color "#89b4fa"
        inactive-color "#313244"
    }
}
